body {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            background-color: #00001a;
        }

        .flex-container {
            display: flex;
            justify-content: center;
        }

        .flex-container>div.text {
            margin: 10px;
            padding: 20px;
            font-size: 19px;
            width: 32.5em;
        }

        pre {
            width: 49em;
            overflow: auto;
            font-size: 12.3px;
        }

        @media only screen and (max-width: 1200px) {
            .flex-container>div.text {
                font-size: 40px;
                }
            }

        a {
            color: white;
        }

        a:hover {
            color: gray;
        }